/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}

p, span, div {
    font-family: 'Comfortaa', cursive;
}

.container {
    margin: 20px;
    display: flex;
}
