<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around strech"
     fxLayoutGap="10px">

    <mat-card *ngIf="featuredDish" fxFlex [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{featuredDish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + featuredDish.image}}" alt="{{featuredDish.name}}">
      <mat-card-content>
        <p>{{featuredDish.description}}
        </p>
      </mat-card-content>
    </mat-card>
    <div [hidden]="featuredDish || dishErrMess">
        <mat-spinner color="accent"></mat-spinner>
        <h4>Loading . . . Please wait</h4>
    </div>
    <div *ngIf="dishErrMess">
        <h2>Error</h2>
        <h4>{{dishErrMess}}</h4>
    </div>

    <mat-card *ngIf="featuredPromotion" fxFlex [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{featuredPromotion.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + featuredPromotion.image}}" alt="{{featuredPromotion.name}}">
      <mat-card-content>
        <p>{{featuredPromotion.description}}
        </p>
      </mat-card-content>
    </mat-card>
    <div [hidden]="featuredPromotion || promoErrMess">
        <mat-spinner color="accent"></mat-spinner>
        <h4>Loading . . . Please wait</h4>
    </div>
    <div *ngIf="promoErrMess">
        <h2>Error</h2>
        <h4>{{promoErrMess}}</h4>
    </div>

    <mat-card *ngIf="featuredLeader" fxFlex [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{featuredLeader.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + featuredLeader.image}}" alt="{{featuredLeader.name}}">
      <mat-card-content>
        <p>{{featuredLeader.description}}
        </p>
      </mat-card-content>
    </mat-card>
    <div [hidden]="featuredLeader || leaderErrMess">
        <mat-spinner color="accent"></mat-spinner>
        <h4>Loading . . . Please wait</h4>
    </div>
    <div *ngIf="leaderErrMess">
        <h2>Error</h2>
        <h4>{{leaderErrMess}}</h4>
    </div>

</div>
